.booking-form-section {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -6%;
  padding-bottom: 4%;
  color: #3c4858;
  font-family: Roboto, Helvetica, sans-serif;
}

.booking-form-container {
  display: flex;
  background-color: #fff;
  padding: 2rem;
  width: 80%;
  border-radius: 1rem;
  gap: 3%;
  justify-content: space-evenly;
  border: 1.5px solid rgba(187, 187, 187, 0.24);
}

.booking-form-container div {
  width: 20%;
  box-sizing: border-box;
}

input {
  width: 100%;
}

input:focus {
  border: none;
  outline: none;
}

select {
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

select:focus {
  border: none;
  outline: none;
}

/* Input field style */
label {
  display: flex;
  padding: 0.5rem;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid rgba(204, 204, 204, 0.443); /* Normal border style */
  color: rgba(120, 120, 120, 0.816); /* Icon color */
}


input[type="Submit"] {
  background-color: rgb(238, 68, 68);
  color: #fff;
  padding: 0.5rem;
  margin-top: 1.4rem;
  border-radius: 0.3rem;
}
