.booking-form-section {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -6%;
  padding-bottom: 4%;
  color: #3c4858;
}

.booking-form-container {
  display: flex;
  background-color: #fff;
  padding: 3rem;
  width: 80%;
  border-radius: 1rem;
  justify-content: space-evenly;
  border: 1.5px solid rgba(187, 187, 187, 0.432);
}

input:focus {
  border: none;
  outline: none;
}

input[type="search"] {
  width: 5rem;
}

input::placeholder,
input::content {
  color: #3c48587b;
}

select:focus {
  border: none;
  outline: none;
}

/* Input field style */
label {
  display: flex;
  padding-left: 15px; /* Make space for the custom icon */
  padding-right: 15px;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border-radius: 0.3rem;
  border: 1px solid rgba(204, 204, 204, 0.443); /* Normal border style */
}
